.logo {
    height: 32px;
    margin: 16px;
    background: #001529;
}
  
  .site-layout .site-layout-background {
    background: #F8F8F8;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }


